@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.label {
    font-size: 14px;
    margin-bottom: 18px;
}

.header {
    margin-bottom: 40px;
}

body,
button,
html,
input,
select,
textarea {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 1.7rem;
    line-height: 28px;
    margin: 0 0 12px;
}

h2 {
    font-size: 1.42rem;
    line-height: 24px;
    margin: 0 0 8px;
}

h3,
h4,
h5,
h6 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 8px;
}

.sidebar {
    flex-basis: 140px;
    background-color: #f7f7f7;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e3e3e3;
    position: relative;
}
.sidebar .wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
}
.sidebar .wrapper #imgLogo {
    width: 80px;
    align-self: center;
    margin-bottom: 34px;
}
.sidebar .wrapper nav {
    display: flex;
    flex-direction: column;
}
.sidebar .wrapper nav .nav-item {
    all: unset;
    cursor: pointer;
    margin-bottom: 24px;
}
.sidebar .wrapper nav .nav-item:hover {
    color: #d25c02;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #d25c02;
}
input:focus + .slider {
    box-shadow: 0 0 1px #d25c02;
}
input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.sidebar {
    flex-basis: 140px;
    background-color: #f7f7f7;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e3e3e3;
    position: relative;
}
.sidebar .wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
}
.sidebar .wrapper #imgLogo {
    width: 80px;
    align-self: center;
    margin-bottom: 34px;
}
.sidebar .wrapper nav {
    display: flex;
    flex-direction: column;
}
.sidebar .wrapper nav .nav-item {
    all: unset;
    cursor: pointer;
    margin-bottom: 24px;
}
.sidebar .wrapper nav .nav-item:hover {
    color: #d25c02;
}

.loader {
    border: 5px solid #f3f3f3;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
table {
    width: 100%;
    border: 1px solid #e3e3e3;
    padding: 8px 18px;
}
table thead {
    text-align: left;
}
table thead th {
    font-weight: bold;
    font-size: 14px;
    padding: 12px;
}
table tbody td {
    padding: 12px;
}

input {
    height: 28px;
    border: 1px solid #e3e3e3;
    padding: 4px 12px;
}
input:focus {
    outline: none;
}

.app-layout {
    display: flex;
    min-height: 100vh;
}
.app-layout .main-body {
    padding: 60px 32px 32px 32px;
    flex-grow: 1;
}

#dashboardPage .order-revenue {
    display: flex;
    margin-bottom: 60px;
}
#dashboardPage .order-revenue-card {
    flex-grow: 1;
    border: 1px solid #e3e3e3;
    padding: 16px 32px;
    border-radius: 4px;
}
#dashboardPage .order-revenue-card:not(:first-of-type) {
    margin: 0 14px;
}
#dashboardPage .order-revenue-card:last-of-type {
    margin: 0;
}
#dashboardPage .order-revenue-card .stats {
    font-weight: normal;
}
#dashboardPage .revenue {
    margin-bottom: 80px;
}
#dashboardPage .revenue-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
#dashboardPage .revenue-header h2 {
    margin-bottom: 0;
}
#dashboardPage .revenue-header .switch {
    margin-left: 24px;
}
#dashboardPage .revenue #chartDiagram {
    display: flex;
    flex-direction: column;
}
#dashboardPage .revenue #chartDiagram .loader {
    align-self: center;
}
#dashboardPage .best-sellers h2 {
    margin-bottom: 30px;
}

#ordersPage #headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
#ordersPage #headerWrapper .header {
    margin: 0;
}
#ordersPage #headerWrapper .searchBar {
    display: flex;
    align-items: center;
}
#ordersPage #headerWrapper .searchBar img {
    margin-right: 8px;
}
#ordersPage #headerWrapper .searchBar input#txtSearch {
    width: 330px;
}
#ordersPage #ordersDataTable tbody tr td.processing {
    color: #cf0000;
}
#ordersPage #ordersDataTable tbody tr td.delivered {
    color: #67aa01;
}
#ordersPage #ordersDataTable tbody tr td.capitalize {
    text-transform: capitalize;
}
#ordersPage .pagination {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 12px;
}
#ordersPage .pagination p {
    margin: 0 12px;
}
#ordersPage .pagination button {
    all: unset;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ordersPage .pagination button:hover {
    background-color: #e3e3e3;
    border-radius: 4px;
}
#ordersPage .pagination button[disabled] {
    opacity: 0.4;
    cursor: auto;
}
#ordersPage .pagination button[disabled]:hover {
    background-color: unset;
}
#ordersPage .pagination button img {
    width: 18px;
    height: 18px;
}

#loginPage {
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginPage #loginBoxWrapper {
    width: 100%;
    max-width: 420px;
    height: 540px;
    border: 12px solid #cccccc;
    padding: 64px 38px 18px;
    display: flex;
    flex-direction: column;
}
#loginPage #loginBoxWrapper .hero {
    display: flex;
    margin-bottom: 40px;
}
#loginPage #loginBoxWrapper .hero h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
}
#loginPage #loginBoxWrapper .hero img {
    width: 136px;
}
#loginPage #loginBoxWrapper #loginForm input {
    width: 100%;
    height: 40px;
    background-color: #e3e3e3;
    border: 1.5px solid #cccccc;
    padding: 8px 12px;
}
#loginPage #loginBoxWrapper #loginForm input:focus {
    border: 1.5px solid #918f8f;
}
#loginPage #loginBoxWrapper #loginForm input:first-of-type {
    margin-bottom: 12px;
}
#loginPage #loginBoxWrapper #loginForm button {
    width: 100%;
    height: 40px;
    background-color: #e3e3e3;
    border: 1.5px solid #cccccc;
    padding: 8px 12px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#loginPage #loginBoxWrapper #loginForm button:hover {
    background-color: #918f8f;
    color: #e3e3e3;
}