@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import "./color_scheme";
@import "./typography";

body,
button,
html,
input,
select,
textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

// Headers //

h1 {
    font-size: 1.7rem;
    line-height: 28px;
    margin: 0 0 12px;
  }
  
  h2 {
    font-size: 1.42rem;
    line-height: 24px;
    margin: 0 0 8px;
  }
  
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 8px;
  }
