@import "./sidebar";
@import "./toggle_switch";
@import "./sidebar";
@import "./loader";

table {
    width: 100%;
    border: 1px solid $light;
    padding: 8px 18px;
    thead {
        text-align: left;
        th {
            font-weight: bold;
            font-size: 14px;
            padding: 12px;
        }
    }
    tbody {
        td {
            padding: 12px;
        }
    }
}

input {
    height: 28px;
    border: 1px solid $light;
    padding: 4px 12px;

    &:focus {
        outline: none;
    }
}
