.sidebar {
    flex-basis: 140px;
    background-color: #f7f7f7;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $light;
    position: relative;

    .wrapper {
        position: sticky;
        top: 40px;
        #imgLogo {
            width: 80px;
            align-self: center;
            margin-bottom: 34px;
        }
        nav {
            display: flex;
            flex-direction: column;
            .nav-item {
                all: unset;
                cursor: pointer;
                margin-bottom: 24px;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}
