#dashboardPage {
    .order-revenue {
        display: flex;
        margin-bottom: 60px;

        &-card {
            flex-grow: 1;
            border: 1px solid $light;
            padding: 16px 32px;
            border-radius: 4px;

            &:not(:first-of-type) {
                margin: 0 14px;
            }
            &:last-of-type {
                margin: 0;
            }

            .stats {
                font-weight: normal;
            }
        }
    }

    .revenue {
        margin-bottom: 80px;
        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            h2 {
                margin-bottom: 0;
            }

            .switch {
                margin-left: 24px;
            }
        }
        #chartDiagram {
            display: flex;
            flex-direction: column;
        
            .loader {
                align-self: center;
            }
        }
    }

    .best-sellers {
        h2 {
            margin-bottom: 30px;
        }
    }
}
