#loginPage {
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;

    #loginBoxWrapper {
        width: 100%;
        max-width: 420px;
        height: 540px;
        border: 12px solid #cccccc;
        padding: 64px 38px 18px;
        display: flex;
        flex-direction: column;

        .hero {
            display: flex;
            margin-bottom: 40px;
            h1 {
                font-weight: 400;
                font-size: 32px;
                line-height: 1;
            }
            img {
                width: 136px;
            }
        }

        #loginForm {
            input {
                width: 100%;
                height: 40px;
                background-color: $light;
                border: 1.5px solid #cccccc;
                padding: 8px 12px;

                &:focus {
                    border: 1.5px solid #918f8f;
                }

                &:first-of-type {
                    margin-bottom: 12px;
                }
            }
            button {
                width: 100%;
                height: 40px;
                background-color: $light;
                border: 1.5px solid #cccccc;
                padding: 8px 12px;
                margin-top: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: #918f8f;
                    color: $light;
                }
            }
        }
    }
}
