#ordersPage {
    #headerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        .header {
            margin: 0;
        }

        .searchBar {
            display: flex;
            align-items: center;
            img {
                margin-right: 8px;
            }
            input#txtSearch {
                width: 330px;
            }
        }
    }

    #ordersDataTable {
        tbody {
            tr {
                td {
                    &.processing {
                        color: $danger;
                    }
                    &.delivered {
                        color: $success;
                    }

                    &.capitalize {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    .pagination {
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-top: 12px;
        p {
            margin: 0 12px;
        }
        button {
            all: unset;
            cursor: pointer;
            width: 24px;
            height: 24px;
            margin-left: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: $light;
                border-radius: 4px;
            }
            &[disabled] {
                opacity: 0.4;
                cursor: auto;
                &:hover {
                    background-color: unset;
                }
            }

            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}
